.root
{
-fx-background-color: yellowgreen;
-fx-font-size: 11pt;
}
.label{
    -fx-text-fill: #e8e8e6;
}
.button{
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(#86c1b9, #7cafc2);
    -fx-text-fill: #FFFFFF;
}
.button:hover {
    -fx-background-color: gray;
    -fx-scale-y: 1.15;
}
.button:pressed {
    -fx-scale-y: 0.85;
    -fx-scale-x: 0.85;
}
.tree-view, .tree-cell {
    -fx-background-color: teal ;
    -fx-text-fill: black ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #409090 ;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
.tree-cell:hover {
    -fx-font-weight: bold ;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}
.tree-cell:sub-tree-item{
     -fx-indent: 22;
}
